# RENAME THIS FILE TO .env (remove the .example extension). 
# PLACE ALL API KEYS/INFO IMMEDIATELY AFTER THE EQUAL SIGN ('=') WITH NO SPACES OR QUOTATION MARKS.

# Enable debug mode (True/False)
DEBUG=

# Enable disnake's logs (True/False)
DISNAKE_LOGGING=

# Enable test mode (True/False)
TEST_MODE=

# Follow disnake's instructions at https://docs.disnake.dev/en/stable/discord.html
# After Step 7 under "Creating a Bot Account", paste the token here
DISCORD_BOT_TOKEN=

# The URI of the PostgreSQL database
DATABASE_URI=
