disnake
asyncpg
aiofiles
aiohttp
python-dotenv
loguru
ruff
Pillow
imagehash
pytesseract
openai-whisper
numpy
tqdm
autocorrect
levenshtein
opencv-contrib-python-headless
videohash @ git+https://github.com/notchum/videohash.git
imagedominantcolor @ git+https://github.com/notchum/imagedominantcolor.git